[defaults]
inventory = inventory/hosts.yml
remote_user = ansible
private_key_file = ~/.ssh/id_ed25519
host_key_checking = False
stdout_callback = yaml
roles_path = roles
interpreter_python = auto_silent

[privilege_escalation]
become = True
become_method = sudo
